SPRING_PROFILES_ACTIVE=dev
DB_HOST=10.0.2.26
DB_PORT=3306
DB_NAME=validation
DB_USERNAME=app_user
DB_PASSWORD=change-me
CUSTOM_JWT_SECRET_KEY=replace-with-64+-char-random-string
CUSTOM_CORS_ALLOWED_ORIGIN_PATTERNS=https://valid-api.hdb01.site
FILE_UPLOAD_DIR=/opt/sw-connect/shared/uploads/validation
